@model MVC_Northwind2.Models.Shipper
@{
    ViewBag.Title = "UpdateShipper";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div class="col-md-6">
    <form method="post">
        <div class="form-group">
            <label>Company Name</label>
            <input type="text" value="@Model.CompanyName" name="CompanyName" class="form-control" />
        </div>
        <div class="form-group">
            <label>Phone</label>
            <input type="text" value="@Model.Phone" name="phone" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>


